body {
    background-color: #383838;
    color: #ff8c00;
    font-family: 'Ubuntu Mono', monospace;
    margin: 0;
    padding: 20px;
    height: 100vh;
    overflow: hidden;
}

#terminal {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#header {
    margin-bottom: 20px;
}

#output {
    flex-grow: 1;
    overflow-y: auto;
    padding-right: 10px;
}

.input-line {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

#prompt {
    margin-right: 10px;
    color: #00ff8c;
}

#command-input {
    background: transparent;
    border: none;
    color: #fff1c9;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 16px;
    flex-grow: 1;
    outline: none;
    caret-color: #fff1c9;
}

.command {
    margin-bottom: 5px;
}

.response {
    margin-bottom: 15px;
    white-space: pre-wrap;
}

.dir {
    color: #0073ff;
}

.file {
    color: #eeeeec;
}

.error {
    color: #cc0000;
}

.success {
    color: #4e9a06;
}

.ascii-art {
    color: #ff8c00;
    line-height: 1.2;
    margin-bottom: 10px;
}

.project-link {
    color: #ad7fa8;
    text-decoration: underline;
    cursor: pointer;
}

.bold-title {
   color: #ff8c00; 
   font-weight: bold;
   font-size: medium;
}

.normal-text {
    color: #fff1c9;
}

/* Animation container */
#animation-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    pointer-events: none;
}
